<h1>Register as <%= @person.role_name.to_s.humanize -%></h1>

<% if current_person&.isgodmother? && (params[:internal].present? || params[:person]&.dig(:internal).present?) %>
  <%= render 'form', person: @person %>
<% else %>
  <%= render 'form_public', person: @person %>
<% end %>