secret_key_base: "{{ secret_key_base }}"
registration_open: {{ registration_open }}
default_from: "{{ list_address }}"
list_address: "{{ list_address }}"
app_url: "{{ app_url }}"
db_name: "{{ db_name }}"
db_host: "postgresql"
db_port: "5432"
db_username: "{{ db_username }}"
db_password: "{{ db_password }}"
smtp_settings:
  address: "{{ smtp_address }}"
  port: {{ smtp_port }}
  domain: "{{ smtp_domain }}"
  user_name: "{{ smtp_user_name }}"
  password: "{{ smtp_password }}"
  authentication: "{{ smtp_authentication }}"
  enable_starttls_auto: {{ smtp_enable_starttls_auto }}
