<a href="<%= url %>" class="text-white bg-purple font-mono text-sm shadow px-4 py-3 hover:shadow-none hover:translate-x-[4px] hover:translate-y-[4px] inline-flex gap-2">
  <%= inline_svg icon %>
  <%= yield %>
</a>