
<h1>Kontaktiere die Chaospat:innen</h1>
<p>Wenn du weitere Fragen hast, kontaktiere uns bitte über folgende Kanäle:</p>

<ul>
  <li>per E-Mail: 39c3-chaosmentors [at] cccv [dot] de</li>
  <li>über Mastodon: <a href="https://chaos.social/@chaospatinnen" title="Chaospat:innen (@chaospatinnen@chaos.social) - chaos.social">@chaospatinnen@chaos.social</a></li>
</ul>