<h1>Cookies</h1>

<p>Cookies are small text files which are downloaded to your computer, tablet or mobile phone when you visit a website or application. 
The website or application may retrieve these cookies from your web browser (eg Internet Explorer, Mozilla Firefox or Google Chrome) 
each time you visit, so they can recognise you, remember your preferences and provide you with a more secure online experience.</p>

<p>Generally, cookies are very useful and are a common method used by almost every website you visit because they help to make your 
online experience as smooth as possible. For security reasons, many websites will not function at all without the use of cookies 
(or other similar technologies, such as "web beacons" or "tags").</p>

<p>Cookies generally do not hold any information to identify an individual person, but are instead used to identify a browser on an individual machine.</p>

<p>If you prefer, you can restrict, block or delete cookies by changing your browser settings but that may mean that the website won't work properly.</p>

<p>For more information about cookies and their impact on you and your browsing visit <a href="https://www.aboutcookies.org">www.aboutcookies.org.</a></p>

<h2>COOKIES WE USE</h2>

<p>This site uses only two cookies: One, that is set to store your consent to the use of cookies itself. It makes sure that you will not see the
consent banner every time you open this website. The second cookie is the site's session cookie. It is set when you login to the
<em>godmother</em> service. It is used only for the purpose of keeping your login session alive, when you browse our site. <p/>

<p>Since the login process is an essential part of our service, it is a technical necessity to use this cookie.<p/>

<p>We do not pass any information on to third parties, and do not use the cookie information to track you from third party sites <p/>

<%= render 'cookies_eu/consent_banner', link: '/cookies', target: '_blank' %> 
