<h1>Frequently Asked Questions (FAQ)</h1>
<h1>Häuffige Fragen</h1>

<h2>What is required of a Chaosmentor?</h2>
We expect our Chaosmentors to be kind and considerate, and should have attended at least one CCC event, and helped out as an angel or have been involved in a comparable manner. 
A few days before the event you will be introduced to your mentees. Please get in touch with them swiftly, and help answer any questions they might have before the event.
At the beginning of the event you should meet your mentee group, and show them the chaosmentor assembly. Beyond this, be welcoming to them and show them how to get involed at Congress.
If you get stuck at any point, please do <a href="/contact" title="contact page">get in touch</a>!

<h2>Was wird von Chaospat*innen erwartet?</h2>
In erster Linie solltet ihr nett und rücksichtsvoll sein, und mindestens schon ein CCC event besucht haben, bei dem ihr auch als Engel oder ähnliches involviert wart.
Ein paar Tage vor dem Event werden wir euch mit euren Chaospatenkindern bekannt machen. Bitte meldet euch so schnell wie möglich bei euren Mentees, um Fragen im Vorfeld des Events zu beantworten.
Am Besten trefft ihr eure Chaospatenkinder gleich zu Anfang des Events (Tag0/Tag1) und zeigt ihnen den Weg zur Chaospat*innen Assembly. Darüber hinaus ist eure Aufgabe als Chaospat*innen die Chaospatenkinder willkommen zu heißen, 
und ihnen zu helfen ihre ersten Schritte auf dem Kongress zu machen. Falls ihr irgendwo in Probleme lauft, bitte <a href="/contact" title="contact page">meldet euch</a>!
