<h1>Bist du bereit für den Chaos Communication Congress?</h1>

<p>Wenn du schon immer mal in die Welt der Informationstechnologie, Datenschutz, Security, Hardware Hacking oder Netzpolitik eintauchen wolltest oder du vielleicht schon einmal auf dem Congress warst, aber eher das Gefühl hattest nicht so richtig in die Community zu passen, komm zu den Chaospat:innen!</p>

<p>Wir möchten für dich eine angenehme und inklusive Umgebung auf dem Chaos Communication Congress schaffen, bei der du das Gefühl hast direkt dazu zu gehören. Wir sind immer für dich da, egal wer du bist, wie du bist oder ob du spezielle Bedürfnisse hast, die deine Teilnahme vielleicht erschweren könnten.</p>

<h2>Was erwartet dich als Chaospatenkind?</h2>

<ul>
  <li>Persönlicher Support: du wirst mit deinem persönlichen Chaosmentor und einer Gruppe gleichgesinnter Chaospatenkinder von uns zusammengebracht, die alle mindestens genauso gespannt darauf sind, den Congress gemeinsam mit dir zu erkunden.</li>
  <li>Mentoring direkt an Tag 1: Dein Mentor wird dir alle deine Fragen vor dem Kongress beantworten, dir nützliche Tipps geben, dich am ersten Tag treffen und dir helfen, passende Workshops, Vorträge oder Inspirationen zu finden, die zu dir und deinen Interessen passen.</li>
  <li>Immer erreichbar: die Chaospat:innen sind immer da, um dich bei all deinen Fragen, Sorgen oder speziellen Bedürfnissen sowohl vor als auch während des Congresses zu unterstützen.</li>
</ul>

<% if Rails.configuration.x.registration_open -%>
<h2>Du kannst dich jetzt registrieren!</h2>

<p>Bis einschließlich 10. Dezember ist die Registrierung geöffnet, sowohl für Chaospatenkinder und Chaosmentoren. Eine rechtzeitige Registrierung macht es für uns etwas leichter passende Gruppen individuell zusammenzustellen.</p>

<p>Wenn du dich anmeldest, erzähle uns ruhig etwas über dich – was dich zum Congress bringt, welche Themen dich besonders interessieren, warum du gerne bei den Chaospat:innen mit dabei sein magst oder ob du spezielle Bedürfnisse hast. Dies hilft uns, dich mit einem Chaosmentor bzw. deinen Chaospatenkindern zusammenzubringen und eine Gruppe mit gemeinsamen Interessen zu bilden.</p>

<p>Nach der Registrierung wird sich dein Chaosmentor vor Beginn des Congress mit dir und deiner Gruppe in Verbindung setzen, sodass du die Möglichkeit hast, dich im Voraus zu vernetzen. Aber auch während der Veranstaltung bist du herzlich eingeladen alle deine Fragen loszuwerden oder um dich mit anderen Chaospatenkindern und den Chaosmentoren zu vernetzen!</p>

<% else %>
<p><strong>Die Registrierung ist derzeit geschlossen. Bitte komme später wieder vorbei.</strong></p>
<% end %>