
<h1>Ready to Dive into Chaos Communication Congress?</h1>

<p>Whether you’ve always wanted to explore the world of privacy, security, hardware hacking, or network policies but feel like an outsider—or you've been to Congress but didn’t quite feel like you “fit in”—we’re here to make your experience both welcoming and inspiring.</p>

<p>Chaos Mentors is dedicated to creating an inclusive and supportive environment at the Chaos Communication Congress. If you’re part of a traditionally underrepresented group, a non-male hacker, or have specific needs that could make your participation challenging, we’re here for you.</p>

<h2>What to Expect as a Mentee?</h2>

<ul>
  <li>Personalized Support: You’ll be matched with a “godparent” mentor and a group of like-minded participants, all eager to explore Congress together.</li>
  <li>Guidance from Day One: Your mentor will answer your questions before Congress, meet you on the first day, and help you navigate workshops and talks that align with your interests.</li>
  <li>Ongoing Contact: Our mentors are your go-to contacts, ready to support you with any questions, concerns, or special needs both before and during the event.</li>
  <li>You can learn more about us in the <a href="https://events.ccc.de/en/2024/11/13/38c3-chaospatinnen/">CCC Event Blog</a>.</li>
</ul>

<p>Join us for a welcoming experience that ensures you feel comfortable, connected, and part of the community.</p>

<% if Rails.configuration.x.registration_open -%>
<h2>Registration is now open!</h2>

<p>To join us, please register by December 10th! Early registration is encouraged so we can start forming groups in advance.</p>

<p>When you sign up, tell us a bit about yourself—what drew you to Congress, what topics interest you, why you’re connecting with Chaos Mentors, and if you have any specific needs. This helps us match you with a godparent mentor and form a group with shared interests.</p>

<p>Once registered, your Chaos Mentor will reach out to you and your group before Congress begins, giving you a chance to connect beforehand. At the event, you’ll be part of an affinity group, ready to dive into Congress and explore together.</p>

<% else %>
<p><strong>Registration is currently closed. Please come back later.</strong></p>
<% end %>