<h1>Imprint</h1>

<p><em>Chaospatinnen</em> is a group of individuals who have pledged to help people, who are new to the hacker community,
to find orientation and a foothold at events of the <a href="https://www.ccc.de">Chaos Computer Club (CCC)</a></p>

<p>Though closely associated with the CCC and it's goals, <em>Chaospatinnen</em> is not a body of the CCC and its affiliated organisations.
Chaospatinnen is solely responsible for the contents of this website.</p>

<p>Responsible contact in accordance with §5 TMG:</p>

<p>Alexander Noack<br />
Hauffstraße 11<br />
28217 Bremen<br />
Tel.: +49 421 3965824<br />
<a href="mailto:alexander@noack-hb.de">alexander@noack-hb.de</a>

<h1>Disclaimer</h1>
<h2>Right to Information / Right of Withdrawal</h2>

<p>You have to the right to inquire forthwith on any personal information we store about you, 
without charge. You have the right to withdraw you consent to storing and using your 
personal information in the future.<p>
<p>Please use the contact information provided on this website.</p> 
